*{
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica;
}

header, footer {
    display: flex;
    align-items: center;
    height: 50px;
    color: #fff;
    background-color: #d2b2f1;
}

header{
    padding-left: 15px;
    box-shadow: 1px 1px 3px 1px #808080;
}

footer {
    justify-content: center;
}

main {
    flex-grow: 1;
}

